@font-face {
	font-family: 'Bazinga!';
	src: url('./fonts/Bazinga-Regular.otf'); 
}

.comic {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	overflow: hidden;
	gap: 1em;
	height: 100%;
	--box-shadow-gap: 0.375em;
}

.comic__message {
	display: flex;
	width: 100%;
	position: relative;
	padding: 0em  var(--box-shadow-gap) calc(var(--box-shadow-gap)*2.5) var(--box-shadow-gap) ;
}

.comic__message__wrapper {
	position: relative;
	width: fit-content;
}

.shadow-right {
	box-shadow: 0.0625em 0.0625em 0em #000,
                0.125em 0.125em 0em #000,
                0.1875em 0.1875em 0em #000,
                0.25em 0.25em 0em #000,
                0.3125em 0.3125em 0em #000,
                0.375em 0.375em 0em #000;
}

.shadow-left {
	box-shadow: -0.0625em 0.0625em 0em #000,
				-0.125em 0.125em 0em #000,
				-0.1875em 0.1875em 0em #000,
				-0.25em 0.25em 0em #000,
				-0.3125em 0.3125em 0em #000,
				-0.375em 0.375em 0em #000;
}

.comic__message__inner {
	display: inline-flex;
	padding: 1em;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25em;
	border: 0.1875em solid #000;
	background: #FFF;
	z-index: 20;
}

.comic__message__appendix {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}


.triangle.right {
	position: absolute;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-left-width: 0.9375em;
	border-right-width: 0px;
	border-top: 0.625em solid black;
	bottom: 0;
	right: 0;
}

.triangle.left {
	position: absolute;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-right-width: 0.9375em;
	border-left-width: 0px;
	border-top: 0.625em solid black;
	bottom: 0;
	left: 0;
}

.triangle.center {
	position: absolute;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-left-width: 0.625em;
	border-right-width: 0.625em;
	border-top: 0.625em solid black;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


/* .border-right {
	position:absolute;
	right: calc(var(--box-shadow-gap) * -1);
	transform: skew(0, 45deg) translateY(calc(var(--box-shadow-gap) / 2));
	top: 0;
	height: 100%;
	width: var(--box-shadow-gap);
	background-color: #000;
}

.border-left {
	position:absolute;
	left: calc(var(--box-shadow-gap) * -1);
	transform: skew(0, -45deg) translateY(calc(var(--box-shadow-gap) / 2));
	top: 0;
	height: 100%;
	width: var(--box-shadow-gap);
	background-color: #000;
} 

.border-bottom-right {
	position:absolute;
	bottom: calc(var(--box-shadow-gap) * -1);
	transform: skew(45deg, 0) translateX(calc(var(--box-shadow-gap) / 2));
	left: 0;
	height: var(--box-shadow-gap);
	width: 100%;
	background-color: #000;
}

.border-bottom-left {
	position:absolute;
	bottom: calc(var(--box-shadow-gap) * -1);
	transform: skew(-45deg, 0) translateX(calc(var(--box-shadow-gap) / -2));
	right: 0;
	height: var(--box-shadow-gap);
	width: 100%;
	background-color: #000;
}

*/

.comic__message__username {
	color: #000;
	font-family: 'Bazinga!';
	font-size: 1.25em;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 100%;
}

.comic__message__content {
	color: #000;
	font-family: 'Inter', sans-serif;
	font-size: 0.8125em;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.comic__message__content img {
	width: 1.25em;
	display: inline-flex;
}
